/*----->  W I D E  S C R E E N  <-----*/
@media screen and (max-width: 1440px) {


}


/*----->  L G  <-----*/
@media screen and (max-width: 1024px) {


    #nav-menu{
        font-size: 0.8em;
    }

}


/*----->  M D  <-----*/
@media screen and (max-width: 768px) {


    /*----->  N A V  B L O C K <-----*/
    #header-nav{
        flex-direction: column;
    }

    #nav-logo{
        font-size: 1.4em;
    }
    #nav-logo svg{
        width: 54px;
        height: 54px;
    }

    #nav-menu{
        margin-top: 30px;
        font-size: 1em;
    }

    #nav-menu li a{
        margin-left: 24px;
    }


    /*----->  S O C I A L  B L O C K  <-----*/
    #header-social{
        padding: 0 15px;
    }

}


/*----->  S M  <-----*/
@media screen and (max-width: 480px) {

    /*----->  N A V  B L O C K <-----*/

    #nav-logo{
        font-size: 1.2em;
        margin-top: 40px;
    }
    #nav-logo svg{
        width: 48px;
        height: 48px;
    }

    #nav-menu{
        margin-top: 20px;
        font-size: 0.8em;
    }

    #nav-menu li a{
        margin-left: 5px;
        margin-right: 5px;
    }


    /*----->  S O C I A L  B L O C K  <-----*/
    #header-social{
        position: relative;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .social-link svg {
        width: 28px;
        height: 28px;
        margin: 0;
    }

    #social-line{
        display: none;
    }

}


@media screen and (max-width: 350px) {

    #header-social{
        padding-bottom: 20px;
    }
    .social-link svg {
        width: 24px;
        height: 24px;
        margin: 0;
    }

    #nav-logo{
        font-size: 1em;
        margin-top: 20px;
    }

    #nav-menu{
        margin-top: 20px;
    }

    #nav-menu li a{
        margin-left: 10px;
        font-size: 0.7em;
    }

}

@media screen and (max-width: 260px) {

    #nav-logo b{
        font-size: 1.5em;
    }

    #nav-logo svg{
        width: 28px;
        height: 28px;
    }



    #nav-menu{
        flex-direction: column;
    }

    #nav-menu li {
        margin-bottom: 5px;
    }

    #nav-menu li a {font-size: 1.5em}
}
