/*----->  W I D E  S C R E E N  <-----*/
@media screen and (max-width: 1440px) {

    .container{
        padding: 35px 100px;
    }

}

/*----->  L G  <-----*/
@media screen and (max-width: 1024px) {

    .container{
        padding: 35px 90px;
    }

}


/*----->  M D  <-----*/
@media screen and (max-width: 768px) {

    .container{
        padding: 0 50px;
    }
}


/*----->  S M  <-----*/
@media screen and (max-width: 480px) {

    .container{
        padding: 0 30px;
    }

}

@media screen and (max-width: 350px) {
}