#header{
    position: relative;
    height: 100vh;
    width: 100%;
}

#header-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 0 25px;
    top: 0;
    left: 0;
}

.social-link svg{
    width: 32px;
    height: 32px;
    opacity: .5;
    margin-top: 25px;
    fill: #ABB2BF;
}
.social-link:hover svg{
    fill: white;
    opacity: 1;
}

#social-line{

    width: 1px;
    height: 200px;
    opacity: .5;
    border-left: 2px solid #ABB2BF;


}